@model AllViewModel
@{
    ViewData["Title"] = "Ana Səhifə | Ekonomiks";
}
<section class="sections">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            @foreach (var item in Model.Actuals.Take(1)){
                <a asp-controller="actual" asp-action="index" asp-route-id="@item.Id">
                    <img src="~/img/@item.Image" id="mainimage" alt="@item.Header">
                    <p id="textformainimage">@item.Header.Trim()</p>
                    <p id="textformainimage1">@item.Body.Trim().Substring(0,140)...</p>
                </a>
            }

        </div>
    </div>
</section>
<section class="sections">
    <div class="container">
        <div class="row newsrow">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                <p class="headers">
                    <a asp-controller="news" asp-action="more">
                        Xəbərlər
                        <svg width="20" height="13" viewBox="0 0 20 13" class="viewallicon" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.73542e-07 7.58331L15.3508 7.58332L11.4671 11.4671L13 13L19.5 6.5L13 -5.68248e-07L11.4671 1.53293L15.3508 5.41668L6.62955e-07 5.41668L4.73542e-07 7.58331Z" fill="#204c86" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.News.Take(4))
            {
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div>
                        <a asp-controller="news" asp-action="index" asp-route-id="@item.Id" class="latestnewsimage">
                        <img src="~/img/@item.Image" width="270px" height="166px" class="mt-4 rounded"></a>
                        <p class="infoabouttext">
                        <a asp-controller="news" asp-action="index" asp-route-id="@item.Id">@item.Header</a></p>
                        <span class="datetime">@item.DateTime.ToShortDateString()</span>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="sections">
    <div class="container">
        <div class="row interviewrow">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                <p class="headers">
                    <a asp-controller="interview" asp-action="more">
                        Müsahibələr
                        <svg width="20" height="13" viewBox="0 0 20 13" class="viewallicon" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.73542e-07 7.58331L15.3508 7.58332L11.4671 11.4671L13 13L19.5 6.5L13 -5.68248e-07L11.4671 1.53293L15.3508 5.41668L6.62955e-07 5.41668L4.73542e-07 7.58331Z" fill="#204c86" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Interviews.Take(4))
            {
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div>
                        <a asp-controller="interview" asp-action="index" asp-route-id="@item.Id" class="latestnewsimage">
                        <img src="~/img/@item.Image" width="270px" height="166px" class="mt-4 rounded"></a>
                        <p class="infoabouttext">
                        <a asp-controller="interview" asp-action="index" asp-route-id="@item.Id">@item.Header</a></p>
                        <span class="datetime">@item.DateTime.ToShortDateString()</span>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<section class="sections">
    <div class="col-12 line1"></div>
</section>
<section class="sections">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <p class="headers mt-5">
                    <a asp-controller="project" asp-action="index">
                        Layihələr
                        <svg width="20" height="13" viewBox="0 0 20 13" class="viewallicon" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.73542e-07 7.58331L15.3508 7.58332L11.4671 11.4671L13 13L19.5 6.5L13 -5.68248e-07L11.4671 1.53293L15.3508 5.41668L6.62955e-07 5.41668L4.73542e-07 7.58331Z" fill="#204c86" />
                        </svg>
                    </a>
                </p>
                @foreach (var item in Model.Projects.SkipLast(1).Take(4))
                {
                    <div class="projectdiv">
                <p><a asp-controller="project" asp-action="detail" asp-route-id="@item.Id">@item.Header</a></p></div>
                }
                <div class="verticalline"></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-1">
                <p class="headers mt-5">
                    <a asp-controller="actual" asp-action="more">
                        Gündəm
                        <svg width="20" height="13" viewBox="0 0 20 13" class="viewallicon" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.73542e-07 7.58331L15.3508 7.58332L11.4671 11.4671L13 13L19.5 6.5L13 -5.68248e-07L11.4671 1.53293L15.3508 5.41668L6.62955e-07 5.41668L4.73542e-07 7.58331Z" fill="#204c86" />
                        </svg>
                    </a>
                </p>
                <div class="row">
                    @foreach (var item in Model.Actuals.Take(4))
                    {
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div>
                                <a asp-controller="actual" asp-action="index" asp-route-id="@item.Id" class="latestnewsimage">
                                <img src="~/img/@item.Image" width="270px" height="166px" class="mt-4 rounded"></a>
                                <p class="infoabouttext">
                                <a asp-controller="actual" asp-action="index" asp-route-id="@item.Id">@item.Header</a></p>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
<section class="sections">
    <div class="col-12 line2"></div>
</section>
<section class="sections currencysection">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12 col-xs-12">
            <img src="img/currency.png" id="currencypattern" alt="pattern">
            <p id="currencytext">valyuta</p>
        </div>
        <table class="currencytable shadow">
            <tr id="maintablerow">
                <th>Valyuta növü</th>
                <th>Alış</th>
                <th>Satış</th>
            </tr>
            <tr>
                <td><img src="img/united-states.svg" class="currencyflags"> ABŞ Dolları</td>
                <td>1.7000</td>
                <td>1.7000</td>
            </tr>
            <tr>
                <td><img src="img/turkey.svg" class="currencyflags">Türk Lirəsi</td>
                <td>0.400</td>
                <td>0.400</td>
            </tr>
            <tr>
                <td><img src="img/european-union.svg" class="currencyflags"> Avro</td>
                <td>2.000</td>
                <td>2.000</td>
            </tr>
            <tr>
                <td><img src="img/united-kingdom.svg" class="currencyflags"> Britaniya Poundu</td>
                <td>2.5000</td>
                <td>2.5000</td>
            </tr>
            <tr>
                <td><img src="img/russia.svg" class="currencyflags"> Rus Rublu</td>
                <td>0.003</td>
                <td>0.003</td>
            </tr>
        </table>
    </div>
</section>